.container{
    display: flex;
    flex-direction: column;
    padding:40px;
}

.top_bar{
    width:100%;
    height: 100px;
    background-color:black;
    margin-bottom: 50px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inform{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:black;
    width: 450px;
    height: 300px;
    border: 2px solid #ffa500 ;
    border-radius:10px;
}
.bottom_bar{
    margin-top: 50px;
    background-color:black;
    width: 100%;
    height: 350px;
    border-radius:10px;
}

p{
    color:#fdfdfd;
    font-size:20px;
    font-weight: 400;
    font-family:roboto;
}